#ant-state-empty {
  -fx-fill: ant-state-empty;
  -fx-stroke: black;
}
#ant-state-nest {
  -fx-fill: ant-state-nest;
  -fx-stroke: black;
}
#ant-state-food {
  -fx-fill: ant-state-food;
  -fx-stroke: black;
}
#ant-state-obstacle {
  -fx-fill: ant-state-obstacle;
  -fx-stroke: black;
}