#percolation-state-open {
  -fx-fill: whitesmoke;
  -fx-stroke: black;
}
#percolation-state-percolated {
  -fx-fill: royalblue;
  -fx-stroke: black;
}
#percolation-state-blocked {
  -fx-fill: black;
  -fx-stroke: black;
}
