#percolation-state-open {
  -fx-fill: seashell;
  -fx-stroke: black;
}
#percolation-state-percolated {
  -fx-fill: skyblue;
  -fx-stroke: black;
}
#percolation-state-blocked {
  -fx-fill: dimgray;
  -fx-stroke: black;
}