#fire-state-empty { -fx-fill: fire-state-empty; }
#fire-state-tree { -fx-fill: fire-state-tree; }
#fire-state-burning { -fx-fill: fire-state-burning; }
#fire-state-burnt { -fx-fill: fire-state-burnt; }