#watorworld-state-empty { -fx-fill: watorworld-state-empty; -fx-stroke: black; }
#watorworld-state-fish { -fx-fill: watorworld-state-fish; -fx-stroke: black; }
#watorworld-state-shark { -fx-fill: watorworld-state-shark; -fx-stroke: black; }

