#langton-state-empty {
  -fx-fill: white;
  -fx-stroke: black;
}
#langton-state-sheath {
  -fx-fill: gray;
  -fx-stroke: black;
}
#langton-state-core {
  -fx-fill: red;
  -fx-stroke: black;
}
#langton-state-temp {
  -fx-fill: royalblue;
  -fx-stroke: black;
}
#langton-state-turn {
  -fx-fill: plum;
  -fx-stroke: black;
}
#langton-state-extend {
  -fx-fill: green;
  -fx-stroke: black;
}
#langton-state-init {
  -fx-fill: yellow;
  -fx-stroke: black;
}
#langton-state-advance {
  -fx-fill: peru;
  -fx-stroke: black;
}