#langton-state-empty {
  -fx-fill: white;
  -fx-stroke: black;
}
#langton-state-sheath {
  -fx-fill: dimgrey;
  -fx-stroke: black;
}
#langton-state-core {
  -fx-fill: maroon;
  -fx-stroke: black;
}
#langton-state-temp {
  -fx-fill: midnightblue;
  -fx-stroke: black;
}
#langton-state-turn {
  -fx-fill: purple;
  -fx-stroke: black;
}
#langton-state-extend {
  -fx-fill: darkgreen;
  -fx-stroke: black;
}
#langton-state-init {
  -fx-fill: goldenrod;
  -fx-stroke: black;
}
#langton-state-advance {
  -fx-fill: saddlebrown;
  -fx-stroke: black;
}