#langton-state-empty { -fx-fill: langton-state-empty; -fx-stroke: black; }
#langton-state-sheath { -fx-fill: langton-state-sheath; -fx-stroke: black; }
#langton-state-core { -fx-fill: langton-state-core; -fx-stroke: black; }
#langton-state-temp { -fx-fill: langton-state-temp; -fx-stroke: black; }
#langton-state-turn { -fx-fill: langton-state-turn; -fx-stroke: black; }
#langton-state-extend { -fx-fill: langton-state-extend; -fx-stroke: black; }
#langton-state-init { -fx-fill: langton-state-init; -fx-stroke: black; 