#sand-state-empty { -fx-fill: sand-state-empty; -fx-stroke: black; }
#sand-state-sand { -fx-fill: sand-state-sand; }
#sand-state-wall { -fx-fill: sand-state-wall; }
#sand-state-water { -fx-fill: sand-state-water; }