#bacteria-state-rock {
  -fx-fill: bacteria-state-rock;
  -fx-stroke: black;
}
#bacteria-state-paper {
  -fx-fill: bacteria-state-paper;
  -fx-stroke: black;
}
#bacteria-state-scissors {
  -fx-fill: bacteria-state-scissors;
  -fx-stroke: black;
}