#bacteria-state-rock {
  -fx-fill: darkred;
  -fx-stroke: black;
}
#bacteria-state-paper {
  -fx-fill: darkgreen;
  -fx-stroke: black;
}
#bacteria-state-scissors {
  -fx-fill: midnightblue;
  -fx-stroke: black;
}