.root {
  -fx-background: #4d4e4f;
  -fx-background-color: #4d4e4f;

  bacteria-state-rock: darkred;
  bacteria-state-paper: darkgreen;
  bacteria-state-scissors: midnightblue;

  ant-state-empty: white;
  ant-state-nest: darkred;
  ant-state-food: darkgreen;
  ant-state-obstacle: black;

  gameoflife-state-alive: midnightblue;
  gameoflife-state-dead: steelblue;

  langton-state-empty: white;
  langton-state-sheath: dimgrey;
  langton-state-core: maroon;
  langton-state-temp: midnightblue;
  langton-state-turn: purple;
  langton-state-extend: darkgreen;
  langton-state-init: goldenrod;
  langton-state-advance: saddlebrown;

  percolation-state-open: whitesmoke;
  percolation-state-percolated: royalblue;
  percolation-state-blocked: black;

  sand-state-empty: gray;
  sand-state-sand: darkgoldenrod;
  sand-state-wall: maroon;
  sand-state-water: midnightblue;

  schelling-state-empty: darkgreen;
  schelling-state-agent: purple;

  fire-state-empty: grey;
  fire-state-tree: darkgreen;
  fire-state-burning: red;
  fire-state-burnt: maroon;

  sugar-state-empty: gray;
  sugar-state-sugar: gold;
  sugar-state-agent: royalblue;

  watorworld-state-empty: midnightblue;
  watorworld-state-fish: orangered;
  watorworld-state-shark: dimgrey;
}
.button {
  -fx-text-fill: #FFFFFF;
  -fx-background-color: #131e24;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 10;
  -fx-pref-width: 150;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 3, 3); /* Adds shadow */
}

.button:hover {
  -fx-background-color: black;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0, 4, 4); /* More intense shadow */
}

.combo-box-base {
  -fx-text-base-color: white;
  -fx-background-color: #131e24;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 3;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 3, 3); /* Adds shadow */
}
.combo-box-popup {
  -fx-background-color: white;
  -fx-text-fill: black;
}
.combo-box-base:hover {
  -fx-background-color: black;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0, 4, 4); /* More intense shadow */
}

Text {
  -fx-fill: white;
}

.custom-text {
  -fx-font-size: 12pt;
  -fx-fill: white;
}

.text-field {
  -fx-font-size: 16pt;
}

.slider {
  -fx-background-color: #4d4e4f;
}

.slider .track {
  -fx-background-color: white;
  -fx-background-insets: 0;
  -fx-background-radius: 5px;
}

#popupLabel {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-border-color: black;
  -fx-padding: 5;
}