.root {
  -fx-background: WHITE;
}
.button {
  -fx-text-fill: #FFFFFF;
  -fx-background-color: #155a73;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 10;
  -fx-pref-width: 150;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 3, 3); /* Adds shadow */
}

.button:hover {
  -fx-background-color: #3a3a3a;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0, 4, 4); /* More intense shadow */
}

.combo-box-base {
  -fx-text-base-color: #FFFFFF;
  -fx-background-color: #155a73;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 3;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 3, 3); /* Adds shadow */
}
.combo-box-base:hover {
  -fx-background-color: #3a3a3a;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0, 4, 4); /* More intense shadow */
}

.custom-text {
  -fx-font-size: 12pt;
  -fx-fill: #006464;
}

.text-field {
  -fx-font-size: 12pt;
  -fx-font-family: "Trebuchet MS";
}

.slider {
  -fx-background-color: #FFFFFF;
}

.slider .track {
  -fx-background-color: #155a73;
  -fx-background-insets: 0;
  -fx-background-radius: 5px;
}