.root {
  -fx-background: WHITE;
  -fx-background-color: WHITE;

  bacteria-state-rock: red;
  bacteria-state-paper: lime;
  bacteria-state-scissors: royalblue;

  ant-state-empty: white;
  ant-state-nest: coral;
  ant-state-food: lime;
  ant-state-obstacle: dimgray;

  gameoflife-state-alive: royalblue;
  gameoflife-state-dead: lightcyan;

  langton-state-empty: white;
  langton-state-sheath: gray;
  langton-state-core: red;
  langton-state-temp: royalblue;
  langton-state-turn: plum;
  langton-state-extend: green;
  langton-state-init: yellow;
  langton-state-advance: peru;

  percolation-state-open: seashell;
  percolation-state-percolated: skyblue;
  percolation-state-blocked: dimgray;

  sand-state-empty: white;
  sand-state-sand: gold;
  sand-state-wall: coral;
  sand-state-water: royalblue;

  schelling-state-empty: palegreen;
  schelling-state-agent: plum;

  fire-state-empty: white;
  fire-state-tree: lightgreen;
  fire-state-burning: indianred;
  fire-state-burnt: saddlebrown;

  sugar-state-empty: white;
  sugar-state-sugar: yellow;
  sugar-state-agent: skyblue;

  watorworld-state-empty: skyblue;
  watorworld-state-fish: coral;
  watorworld-state-shark: grey;
}
.button {
  -fx-text-fill: #FFFFFF;
  -fx-background-color: #155a73;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 10;
  -fx-pref-width: 150;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 3, 3); /* Adds shadow */
}

.button:hover {
  -fx-background-color: #3a3a3a;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0, 4, 4); /* More intense shadow */
}

.combo-box-base {
  -fx-text-base-color: #FFFFFF;
  -fx-background-color: #155a73;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 3;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 3, 3); /* Adds shadow */
}
.combo-box-base:hover {
  -fx-background-color: #3a3a3a;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0, 4, 4); /* More intense shadow */
}
.combo-box-popup {
  -fx-background-color: white;
  -fx-text-fill: black;
}

.custom-text {
  -fx-font-size: 12pt;
  -fx-fill: #006464;
}

.text-field {
  -fx-font-size: 16pt;
}

.slider {
  -fx-background-color: #FFFFFF;
}

.slider .track {
  -fx-background-color: #155a73;
  -fx-background-insets: 0;
  -fx-background-radius: 5px;
}

#popupLabel {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-border-color: black;
  -fx-padding: 5;
}
